* {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#userInput {
    border-radius: 10px;
    padding: 20px;
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    margin: 10px 0;
    color: #f9faf8;
    font-size: 16px;
    cursor: pointer;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #000;
    overflow: hidden;
}

.box {
    display: inline-block;
    margin: 0;
    border: 1px solid #000;
    box-sizing: border-box;
}
